.Container {
    font-size: 15px;
    flex-direction: column;
    display: inline-block;
    width: 80%;
    background-color: white;
  }
  
  .Container-header {
    width: 50%;
    margin: 0 auto;
  }
  
  .Container-top {
    margin: 0 auto;
    text-align: center;
    
    top: 50%;
    left: 50%;
  }
  
  .Container-list {
    display: block;
    margin: 0, 20px;
  }
  
  .C-li {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }